#全局启用apt开关,默认:true
#processor.enable=false
#是否停止向上级合并配
#processor.stopBubbling=true
#APT 代码生成路径
#processor.genPath=
#APT 代码生成文件字符集
#processor.charset=UTF-8
#是否所有的类都生成在 Tables 类里,默认:false
#processor.allInTables.enable=true
##Tables 包名,示例:${entityPackage}.table
#processor.allInTables.package=domain.entity.table
##Tables 类名,Tables
# processor.allInTables.className=
#开启 Mapper 自动生成,默认:false
#processor.mappersGenerateEnable=true
#APT 代码生成路径,默认:target/generated-sources/annotations
#processor.genPath=Company/2023/2023-07/why20231106-1/src/main/java/com/szyly/why20231106/api
#开启 @Mapper 注解,默认:false
#processor.mapper.annotation=true
##自定义 Mapper 的父类,全路径类名
#processor.mapper.baseClass=com.mybatisflex.core.BaseMapper
##自定义 Mapper 生成的包名,合法的包名
#processor.mapper.package=com.szyly.why20231106.api.mapper
#生成辅助类的字段风格,可选:upperCase, lowerCase, upperCamelCase, lowerCamelCase,默认:upperCase
processor.tableDef.propertiesNNameStyle=upperCase
#生成的表对应的变量后缀
#processor.tableDef.instanceSuffix=
#生成的 TableDef 类的后缀
#processor.tableDef.instanceSuffix=
#过滤 Entity 后缀
#processor.tableDef.ignoreEntitySuffixes=
# 开启 Mapper 自动生成
